<ul class="icons">
  <li><a href="http://twitter.com/{{ site.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  <li><a href="http://facebook.com/{{ site.facebook }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{ site.instagram }}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/{{ site.github }}" class="icon fa-github"><span class="label">Github</span></a></li>
  <li><a href="mailto:{{ site.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
</ul>
